*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

/* Tipo de section: header */

.h1{
    background-color: rgb(146, 146, 255);
    width: 100%;
    display: inline-block; /*Fórmula para determinar contenedores*/
    box-shadow: 4px 4px 5px 4px rgba(0,0,0,0.5);
}

.h1 section{
}

.fixed{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.h1 img{
    width: 15%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
}

.h1 nav{
    width: 50%;
    margin-left: 3%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    display: inline-block;
    box-shadow: none;
}

.h1 nav ul{
    box-shadow: none;
}

.h1 nav ul li{
    text-align: center;
    width: 18%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    background: #020024;
    background: linear-gradient(145deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(9, 100, 121, 1) 100%);
    padding: 1.25%;
    margin: 1.25%;
    margin-bottom: 2%;
    list-style: none;
    float: left;
}

.h1 nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.h1 div{
    width: 20%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    float: right;
}

.h1 div h3{
    margin-top: 6%;
    margin-left: 30%;
}

/* Tipo de section: baner */

.banner{
    display: inline-block;
    width: 100%;
}

.banner h1{
    color: white;
    text-align: center;
    padding: 8%;
    font-size: 500%;
}

/* Tipo de section: doble*/

.doble{
    display: inline-block;
    width: 90%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 50px;
    box-shadow: 4px 4px 5px 4px rgba(0,0,0,0.5);
}

.doble img{
    width: 80%;
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #000000;
}

.doble h1{
    padding-top: 5%;
    margin: 2%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 250%;
}
.doble p{
    margin: 2%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}

.izquierda{
    width: 49%;
    float: left;
}

.izquierda img{
    float: right;
}

.derecha{
    width: 49%;
    float: right;
}

/* Tipo de section: reseña*/

.reseña{
    display: inline-block;
    width: 100%;
}

.reseña div{
    background-color: rgb(146, 146, 255);
    width: 38%;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 4px 4px 5px 4px rgba(0,0,0,0.5);
}

.floatIzquierda{
    float: left;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.floatDerecha{
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.reseña div img{
    width: 20%;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;
    float: left;
}

.estrellas{
    width: 40% !important;
    margin-top: 0% !important;
    margin-left: 18% !important;
    margin-bottom: 3% !important;
    float: none !important;
}

.reseña div h2{
    text-align: center;
    margin-top: 3%;
}

.reseña div p{
    text-align: center;
    margin: 5%;
}

/* section: publicidad */

.publicidad{
    display: inline-block;
    margin-top: 2%;
    padding: 1.5%;
    width: 87%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(146, 146, 255);
    border-radius: 50px;
    box-shadow: 4px 4px 5px 4px rgba(0,0,0,0.5);
}

.publicidad div{
    margin-bottom: 1%;
    margin-top: 1%;
}

.publicidad h1{
    margin-bottom: 2%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 250%;
}

.publicidad p{
    margin: 2%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 120%;
}

.publicidad li{
    text-align: center;
    width: 18%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    background: #020024;
    background: linear-gradient(145deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(9, 100, 121, 1) 100%);
    padding: 1.25%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 1.25%;
    margin-bottom: 2%;
    list-style: none;
    margin-left: 30%;
}

.publicidad a{
    color: white;
    font-size: 150%;
    text-decoration: none;
}

/* Footer */

footer {
        display: inline-block;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 3%;
        background-color: rgb(0, 0, 56);
    }
    
    .columna {
        float: left;
        width: fit-content;
        margin-right: 5%;
        color: rgb(255, 255, 255);
    }
    
    .columnaSmall {
        width: 10%;
    }

    .columnaBig {
        width: 20%;
        
    }

    .columnaBig img {
        width: 100%;
    }
    
    .columna img {
        background-color: rgb(255, 255, 255);
        padding: 1%;
        border-radius: 10px;
    }
    
    .columna p {
        margin-bottom: 2%;
        margin-top: 1%;
    }

    .columna h2 {
        margin-bottom: 5%;
        margin-top: 1%;
    }

    .columnaRedes {
       width: 6%;
    }
    .columnaRedes img{
        width: 50%;
        margin-right: 25%;
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
    }